.logo{
    height: 100px;
    width: 240px;
}
.Ranking{
    overflow-y: scroll;
}

.landingImg {
    width: 30rem !important;
    height: auto  !important;
}

@media (max-width: 768px) {
    .landingImg {
        width: 15rem !important;
        height: auto  !important;
    }
}

